HELP.md
community.vpp.*

!.mvn/wrapper/maven-wrapper.jar

.DS_Store

### Data ###
/data


### 应用相关 ###
logs/
/log/
/cache/
/target/
/fileStore/temp/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/


### Ebook ###
/fileStore/src/main/resources/application.properties
/fileStore/src/main/resources/qqconnectconfig.properties
/fileStore/src/main/java/site/pyyf/fileStore/utils/OSS/OssUpload.java
/fileStore/src/main/java/site/pyyf/fileStore/utils/FtpUtil.java
/fileStore/src/main/resources/application.yml
/compiler/src/main/resources/application.yml


*.log
*.log.*
/fileStore/src/main/resources/data/
/tmp/
