<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.pyyf.compiler.dao.SiteSettingMapper">

    <sql id="selectFields">
        setting
    </sql>


    <select id="getSiteSetting" resultType="int">
        select <include refid="selectFields"></include>
        from site_setting
        where description = #{description}
    </select>



</mapper>