<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.pyyf.fileStore.mapper.IFileFolderMapper">

    <!--file_folder的映射结果集-->
    <resultMap type="site.pyyf.fileStore.entity.FileFolder" id="FileFolderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileFolderName" column="file_folder_name" jdbcType="VARCHAR"/>
        <result property="parentFolderId" column="parent_folder_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <!--全部字段-->
    <sql id="allColumn"> id, file_folder_name, parent_folder_id, user_id, create_time </sql>
    
    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="fileFolderName != null and fileFolderName != ''">
                file_folder_name,
        </if>
        <if test="parentFolderId != null">
                parent_folder_id,
        </if>
        <if test="userId != null">
                user_id,
        </if>
        <if test="createTime != null">
                create_time,
        </if>
    </sql>
    
    <!--添加语句的值列表-->
        <sql id="insertValue">
        <if test="fileFolderName != null and fileFolderName != ''">
                #{fileFolderName},
        </if>
        <if test="parentFolderId != null">
                #{parentFolderId},
        </if>
        <if test="userId != null">
                #{userId},
        </if>
        <if test="createTime != null">
                #{createTime},
        </if>
    </sql>
    
    <!--通用对FileFolder各个属性的值的非空判断-->
    <sql id="commonsValue">
        <if test="fileFolderName != null and fileFolderName != ''">
                and file_folder_name = #{fileFolderName}
        </if>
        <if test="parentFolderId != null">
                and parent_folder_id = #{parentFolderId}
        </if>
        <if test="userId != null">
                and user_id = #{userId}
        </if>
        <if test="createTime != null">
                and create_time = #{createTime}
        </if>
    </sql>
    
        <!--更新时通用对FileFolder各个属性的值的非空判断-->
    <sql id="updateValue">
        <if test="fileFolderName != null and fileFolderName != ''">
                file_folder_name = #{fileFolderName},
        </if>
        <if test="parentFolderId != null">
                parent_folder_id = #{parentFolderId},
        </if>
        <if test="userId != null">
                user_id = #{userId},
        </if>
        <if test="createTime != null">
                create_time = #{createTime},
        </if>
    </sql>
    
    <!--传入fileFolder时对FileFolder各个属性的值的非空判断-->
    <sql id="FileFolderValue">
        <if test="fileFolder.fileFolderName != null and fileFolder.fileFolderName != ''">
                and file_folder_name = #{fileFolder.fileFolderName}
        </if>
        <if test="fileFolder.parentFolderId != null">
                and parent_folder_id = #{fileFolder.parentFolderId}
        </if>
        <if test="fileFolder.userId != null">
                and user_id = #{fileFolder.userId}
        </if>
        <if test="fileFolder.createTime != null">
                and create_time = #{fileFolder.createTime}
        </if>
    </sql>
    
    <!--新增file_folder:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into file_folder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>
   
    <!--删除file_folder:通过主键-->
    <delete id="deleteById">
        delete from file_folder
        <where>
            id = #{id}
        </where>
    </delete>
    
    <!--查询单个file_folder-->
    <select id="queryById" resultMap="FileFolderMap">
        select
        <include refid="allColumn"></include>
        from file_folder
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询数据-->
    <select id="queryAll" resultMap="FileFolderMap">
        select
          <include refid="allColumn"></include>
        from file_folder
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>
    
    <!--通过实体作为筛选条件查询数量-->
    <select id="queryCount" resultType="java.lang.Integer">
        select
          count(*)
        from file_folder
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>
    
    <!--通过实体作为筛选条件分页查询-->
    <select id="querySomeByLimit" resultMap="FileFolderMap">
        select
          <include refid="allColumn"></include>
        from file_folder
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="FileFolderValue"></include>
        </trim>
        limit #{offset}, #{limit}
    </select>

	<!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="FileFolderMap">
        select
          <include refid="allColumn"></include>
        from file_folder
        limit #{offset}, #{limit}
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update file_folder
        <trim prefix="set" prefixOverrides="and" suffixOverrides=",">
            <include refid="updateValue"></include>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>