<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.6/lib/font-awesome-4.7.0/css/font-awesome.min.css"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.8/lib/contextMenu/xcConfirm/css/xcConfirm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.8/lib/contextMenu/context-menu/css/contextMenu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.6/css/fileinput.css" media="all" rel="stylesheet"
          type="text/css" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.6/themes/explorer-fas/theme.css" media="all"
          rel="stylesheet" type="text/css" crossorigin="anonymous"/>
    <title>鹏方论坛-网盘</title>
</head>
<body>
<div class="nk-container">

    <!-- 内容 -->
    <div class="main">

        <div class="container my-4">

            <div>

                <button type="button" style="margin-left: 15px;float: left" class="btn btn-success" data-toggle="modal"
                        data-target="#uploadEbook">
                    <i class="fa fa-cloud-upload"></i>&nbsp; 上传
                </button>
                <!-- 弹出框 -->
                <div class="modal fade" id="uploadEbook" tabindex="-1" role="dialog"
                     aria-labelledby="uploadCloudxampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadCloudexampleModalLabel">上传</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div style="width:750px;margin-left:25px">
                                <form enctype="multipart/form-data" method="post" th:action="@{/ebook/upload}">
                                    <!--                                <input type="hidden" name="absolute_path" th:value="${absolute_path}">-->

                                    <br>
                                    <div>
                                        <input id="file" class="file" type="file" data-theme="fas" name="file">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 40px;">
            </div>

            <div class="files">

                <div class="outer ebook" th:each="ebook:${ebooks}"
                     style="float: left;margin-left: 0px">
                    <span id="tarFile" th:text="${ebook.ebookId}" style="display: none"> </span>
                    <div id="showRename"></div>
                    <div class="inner">
                        <form method="get"
                              th:action="|@{'/ebook/getbook/'+${ebook.ebookId}}|">
                            <button class="inner btn btn-outline-success" type="submit" style="width:120px;height:145px;
border-color:transparent;">
                                <img th:src="${'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/file.png'}"
                                     alt="Cinque Terre">
                                <p th:text="${ebook.ebookName}" style="font-size:15px"></p>
                            </button>
                        </form>
                    </div>

                </div>

            </div>

            <!--            &lt;!&ndash; 分页 &ndash;&gt;-->
            <!--            <nav class="mt-5" th:replace="ebook_fragments::pagination">-->

            <!--            </nav>-->




<!--            <span id="tarFile" style="display: none"></span>-->
        </div>

    </div>
</div>

<script src="https://cdn.bootcss.com/prism/1.15.0/prism.js"></script>
<script src="https://cdn.bootcss.com/prism/1.15.0/components/prism-java.js"></script>
<script src="https://cdn.bootcss.com/prism/1.15.0/plugins/line-numbers/prism-line-numbers.js"></script>
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/marked/marked.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" crossorigin="anonymous"
        type="text/javascript"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!--这个css请不要移动，放到上面会失效，我也不知道为什么，我被这个搞了好久-->
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.8/lib/contextMenu/context-menu/js/jquery.contextMenu.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.8/lib/contextMenu/xcConfirm/js/xcConfirm.js"></script>
<script>
    $(function () {
        $('.ebook').hover(function () {
            let id = $(this).children("span").html();
            console.log(id);

        }, function () {
        });
    });
</script>
<script>
    $(".ebook").contextMenu({
        width: 100, // width
        itemHeight: 30, // 菜单项height
        bgColor: "#fff", // 背景颜色
        color: "#333", // 字体颜色
        fontSize: 12, // 字体大小
        hoverBgColor: "#3498db", // hover背景颜色
        target: function (ele) { // 当前元素
            console.log(ele);
        },
        menu: [
            {
                text: " 重命名",
                callback: function () {
                    let id = $('#tarFile').html();
                    let html = $('#showRename').html($('' +
                            "<div>"+
                        "<form id='updateFileNameForm' action='/ebook/rename' method='post'>" +
                        "<input id='newName' name='newName' autocomplete='off' type='text'>" +
                            "<button type='submit' class='btn btn-success'> 确定</button>"+
                        "<input type='hidden' name='ebookId' value='"+id+"'>" +
                        "</form>" +
                        "</div>"+
                        ''));
                }
            },
            {
                text: " 删除",
                callback: function () {
                    let id = $('#tarFile').html();
                    console.log(id);
                    window.location.href = "/ebook/delete?ebookId="+id;

                }
            }
        ]

    });
</script>

</body>
</html>
