<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="constant">
    <span id="maxShowSize">40</span>
</th:block>

<th:block th:fragment="share">
    <script>
        function doShare() {
            $("#submit").html('<i class="fa fa-spinner fa-pulse"></i>&nbsp; 转存中\n');
            var fileFolderId = $('#fileFolderId').val();
            var typeAndfid = $('#typeAndfid').val();
            console.log("logggg" + fileFolderId + "  " + typeAndfid);

            $.ajax({
                url: '/cloudpan/share',
                type: 'post',
                data: {
                    fileFolderId: $('#fileFolderId').val(),
                    typeAndfid: $('#typeAndfid').val()
                },
                datatype: "json",
                success: function (result) {

                    var data = JSON.parse(result);
                    // 在提示框中显示返回消息

                    $('#btngoupdateElasticframe').hide();
                    alert(data.msg);
                    $("#submit").html('<i class="fa fa-save"></i>&nbsp; 保存');
                    // 2秒后,自动隐藏提示框
                    setTimeout(function () {
                        // 刷新页面
                        if (data.code == 200) {
                            window.location.reload();
                        }
                    }, 100);
                },
                error: function (result) {
                    var data = JSON.parse(result);
                    // 在提示框中显示返回消息
                    console.log(data.msg);
                    $("#btngoupdateElasticframe").hide();
                    // 2秒后,自动隐藏提示框
                    setTimeout(function () {
                        // 刷新页面
                        if (data.code == 200) {
                            window.location.reload();
                        }
                    }, 1000);

                }
            });
        }


    </script>
</th:block>




<th:block th:fragment="contextMenu">
    <script>
        $(".files").contextMenu({
            width: 100, // width
            itemHeight: 30, // 菜单项height
            bgColor: "#fff", // 背景颜色
            color: "#333", // 字体颜色
            fontSize: 12, // 字体大小
            hoverBgColor: "#3498db", // hover背景颜色
            target: function (ele) { // 当前元素
                console.log(ele);
            },
            menu: [{ // 菜单项
                text: " 下载",
                callback: function () {
                    let id = $('#tarFile').html();
                    var location = window.location.href;
                    let strings = location.split("cloudpan");
                    if (id != "") {
                        window.location.href = strings[0] + "cloudpan/downloadFile?time=" + new Date().getTime() + "&tip=" + Math.random() * 1000000 + "&fId=" + id;
                    } else {
                        return;
                    }
                }
            },
                {
                    text: " 分享",
                    callback: function () {
                        $.ajax({
                            url: "getShareUrl?type=file&fId=" + $('#tarFile').html(),
                            dataType: "json",
                            type: "post",
                            async: false,
                            success: function (data) {
                                alert(data.msg);
                            }
                        });

                    }
                },
                {
                    text: "直链下载地址",
                    callback: function () {
                        var location = window.location.href;
                        let strings = location.split("cloudpan");
                        $.ajax({
                            url: "getQrCode/?id=" + $('#tarFile').html() + "&url=" + strings[0] + "cloudpan",
                            type: "get",
                            async: false,
                            success: function (data) {
                                var txt = "<img src='" + data['imgPath'] + "' style='width: 150px;height: 150px'/><br>" +
                                    "<input style='width: 80%;font-size: 14px' value='" + data['url'] + "'/>";
                                var option = {
                                    title: "分享你的文件",
                                };
                                window.wxc.xcConfirm(txt, "custom", option);
                            }
                        });
                    }
                },
                {
                    text: " 在线浏览",
                    callback: function () {
                        var maxShowSize = $('#maxShowSize').html();
                        var showPath = $(".flag td #showPath").html();
                        let id = $('#tarFile').html();
                        let name = $('.flag td a').html();

                        var supLang = ["md", "java", "css", "cpp", "py", "php", "html"];
                        var supImg = ["png", "jpg", "jpeg"];
                        var supVideo = ["mp4", "wmv", "flv"];
                        var supAudio = ["mp3", "wma"];
                        if (supLang.indexOf(name.substring(name.lastIndexOf(".") + 1)) > -1) {
                            window.location.href = "/cloudpan/file/preview?fId=" + id;
                        } else if (supImg.indexOf(name.substring(name.lastIndexOf(".") + 1)) > -1) {
                            var image = new Image();
                            // var location = window.location.href;
                            // let strings = location.split("cloudpan");

                            image.src = showPath;

                            var viewer = new Viewer(image, {
                                hidden: function () {
                                    viewer.destroy();
                                },
                            });
                            viewer.show();
                        } else if (supVideo.indexOf(name.substring(name.lastIndexOf(".") + 1)) > -1) {

                            let size1 = $('.flag #size1').html();   //mb
                            let size2 = $('.flag #size2').html();   //kb


                            if (size2 == null) {
                                if (size1.toString().split("MB")[0] > maxShowSize) {
                                    console.log(size1.toString().split("MB")[0]);
                                    alert("超过"+maxShowSize+"M，本网盘只支持"+maxShowSize+"M以下内容在线播放");
                                    return;
                                }
                            }

                            var top = ($(window).height() - $(videoElasticframe).height()) / 2;
                            var left = ($(window).width() - $(videoElasticframe).width()) / 2;
                            var scrollTop = $(document).scrollTop();
                            var scrollLeft = $(document).scrollLeft();

                            console.log("在线播放打开");
                            let id = $('#tarFile').html();

                            $("#videoElasticframe").css({
                                position: 'absolute',
                                'top': top + scrollTop,
                                left: left + scrollLeft,
                                zIndex: 10
                            });
                            var location = window.location.href;
                            let strings = location.split("cloudpan");


                            //FTP时使用
                            $("#videoPlayer").html("<source  src=\"" + strings[0] + "cloudpan/video?fId=" + id + "\" type=\"video/mp4\">");
                            //OSS时使用
                            // $("#videoPlayer").html("<source  src="+showPath+">");



                            $("#videoElasticframe").slideToggle(300);
                            console.log("显示完成");
                        } else if (supAudio.indexOf(name.substring(name.lastIndexOf(".") + 1)) > -1) {

                            let size1 = $('.flag #size1').html();   //mb
                            let size2 = $('.flag #size2').html();   //kb

                            if (size2 == null) {
                                if (size1.toString().split("MB")[0] > maxShowSize) {
                                    console.log(size1.toString().split("MB")[0]);
                                    alert("超过"+maxShowSize+"M，本网盘只支持"+maxShowSize+"M以下内容在线播放");
                                    return;
                                }
                            }

                            var audio = document.getElementById('audioPlayer');
                            if (audio.play()){
                                audio.pause();
                            }

                            var preAudioName = $('#preAudioName').html();
                            if(preAudioName!=null){
                                $('#preAudioId').html(preAudioName);

                                $('#preAudioId').attr("id","");
                            }

                            $('#preAudioName').html(name);
                            $('.flag td a').attr("id","preAudioId");
                            $('.flag td a').html(name+ " &nbsp; &nbsp; <i class=\"fa fa-refresh fa-spin\"></i>&nbsp; &nbsp;");

                            //FTP时使用
                            var location = window.location.href;
                            let strings = location.split("cloudpan");
                            //注意是设置audio的属性，不是source的属性，这里我被折腾了两个小时，哎
                            $("#audioPlayer").attr("src", strings[0] + "cloudpan/audio?fId=" + id);

                            //OSS时使用
                            // $("#audioPlayer").attr("src", showPath);



                            // audio.play(); //播放控制
                            // audio.pause();
                            // $("#audioPlayer").html("<source  src=\"" + strings[0] + "cloudpan/audio?fId=" + id + "\" type=\"audio/mp3\">");
                            // $("#audioPlayer-container").slideToggle(300);

                            $("#audioPlayerTool").animate({
                                left: "250px"
                            }, "slow");
                            $('#audioPlayerPosition').html(250);
                            $('#audioPlayerSrc').attr("src", "https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/左.png");
                            audio.play(); //播放控制
                            console.log("音乐置换完成");

                        } else {
                            alert("不支持的格式");
                        }
                    }
                },
                {
                    text: " 重命名",
                    callback: function () {
                        let id = $('.flag td  #fileId').html();
                        let name = $('.flag td a').html();
                        let html = $('.flag td').eq(1).html($('' +
                            "<form id='updateFileNameForm' action='updateFileName' method='post'>" +
                            "<input id='updateFileName' name='myFileName' autocomplete='off' type='text' onblur='checkUpdateFile()' value='" + name + "'>" +
                            "<input type='hidden' name='myFileId' value='" + id + "'>" +
                            "</form>" +
                            ''));
                    }
                },
                {
                    text: " 删除",
                    callback: function () {
                        let id = $('#tarFile').html();
                        var location = window.location.href;
                        let strings = location.split("cloudpan");
                        if (id != "") {
                            window.location.href = strings[0] + "cloudpan/deleteFile?fId=" + id + "&folder=" + $('#nowF').html();
                        } else {
                            return;
                        }
                    }
                }
            ]
        });
        $(".folders").contextMenu({
            width: 100, // width
            itemHeight: 30, // 菜单项height
            bgColor: "#fff", // 背景颜色
            color: "#333", // 字体颜色
            fontSize: 12, // 字体大小
            hoverBgColor: "#3498db", // hover背景颜色
            target: function (ele) { // 当前元素
                console.log(ele);
            },
            menu: [{ // 菜单项
                text: " 打开",
                callback: function () {
                    let id = $('#tarFolder').html();
                    var location = window.location.href;
                    let strings = location.split("?");
                    if (id != "") {
                        window.location.href = strings[0] + "?fId=" + id;
                    } else {
                        return;
                    }
                }
            },
                {
                    text: " 分享",
                    callback: function () {
                        $.ajax({
                            url: "getShareUrl?type=folder&fId=" + $('#tarFolder').html(),
                            dataType: "json",
                            type: "post",
                            async: false,
                            success: function (data) {
                                alert(data.msg);
                            }
                        });

                    }
                },
                {
                    text: " 返回上一级",
                    callback: function () {
                        toPreFolder();
                    }
                },
                {
                    text: " 重命名",
                    callback: function () {
                        let id = $('.flag td #fileId').html();
                        let name = $('.flag td a').html();
                        let html = $('.flag td').eq(1).html($('' +
                            "<form id='updateFolderForm' action='updateFolder' method='post'>" +
                            "<input id='updateFolderName' name='fileFolderName' autocomplete='off' type='text' onblur='checkUpdateFolder()' value='" + name + "'>" +
                            "<input type='hidden' name='fileFolderId' value='" + id + "'>" +
                            "</form>" +
                            ''));
                    }
                },
                {
                    text: " 新建文件夹",
                    callback: function () {
                        addFolderElement();
                    }
                },
                {
                    text: " 清空并删除",
                    callback: function () {
                        let id = $('#tarFolder').html();
                        var location = window.location.href;
                        let strings = location.split("cloudpan");
                        if (id != "") {
                            window.location.href = strings[0] + "cloudpan/deleteFolder?fId=" + id;
                        } else {
                            return;
                        }
                    }
                }
            ]

        });
        $(".empty-space").contextMenu({
            width: 100, // width
            itemHeight: 30, // 菜单项height
            bgColor: "#fff", // 背景颜色
            color: "#333", // 字体颜色
            fontSize: 12, // 字体大小
            hoverBgColor: "#3498db", // hover背景颜色
            target: function (ele) { // 当前元素
                console.log(ele);
            },
            menu: [
                {
                    text: " 新建文件夹",
                    callback: function () {
                        addFolderElement();
                    }
                },
                {
                    text: " 返回上一级",
                    callback: function () {
                        toPreFolder();
                    }
                }
            ]

        });

        function toPreFolder() {
            var location = window.location.href;
            let strings = location.split("?");
            var pre = $('#preF').html();
            if (pre != "") {
                window.location.href = strings[0] + "?fId=" + pre;
            } else {
                return;
            }
        }

        function addFolderElement() {
            var now = $('#nowF').html();
            $("<tr class='files-items folders'><td><i style='font-size: 24px;color: orange' class='icon ion-android-folder'></i></td>" +
                "<td>" +
                "<form id='addFolderForm' action='addFolder' method='post'>" +
                "<input id='newFolder'  autocomplete='off' name='fileFolderName' type='text' onblur='checkAddFolder()'>" +
                "<input type='hidden' name='parentFolderId' value='" + now + "'>" +
                "</form>" +
                "</td>" +
                "<td style='font-weight: 300'>文件夹</td>" +
                "<td style='font-weight: 300'>-</td>" +
                "<td style='font-weight: 300'>-</td>" +
                "</tr>").insertAfter($('#files-table-title'));
            $('#newFolder').focus();
        }

        function checkAddFolder() {
            var name = $.trim($("#newFolder").val());
            var nameReg = /^[\u4E00-\u9FA5A-Za-z0-9]{1,20}$/;
            if (!nameReg.test(name)) {
                alert("文件夹格式错误！【汉字、字母、数字】");
                var location = window.location.href;
                window.location.href = location;
            } else {
                $('#addFolderForm').submit();
            }
        }

        function checkUpdateFolder() {
            var name = $.trim($("#updateFolderName").val());
            var nameReg = /^[\u4E00-\u9FA5A-Za-z0-9]{2,20}$/;
            if (!nameReg.test(name)) {
                alert("文件夹格式错误！【汉字、字母、数字】");
                var location = window.location.href;
                window.location.href = location;
            } else {
                $('#updateFolderForm').submit();
            }
        }

        function checkUpdateFile() {
            var name = $.trim($("#updateFileName").val());
            var nameReg = /^[^\u4E00-\u9FA5\uF900-\uFA2D\w-_]{2,20}$/;
            if (!nameReg.test(name)) {
                alert("文件夹格式错误！【汉字、字母、数字】");
                var location = window.location.href;
                window.location.href = location;
            } else {
                $('#updateFileNameForm').submit();
            }
        }
    </script>

</th:block>


<th:block th:fragment="hoverAndDblick">
    <script>
        $(function () {
            $('.folders').dblclick(function () {
                let id = $(this).children("td").children("span").html();
                console.log(id);
                var location = window.location.href;
                let strings = location.split("?");
                if (id != "") {
                    window.location.href = strings[0] + "?fId=" + id;
                } else {
                    return;
                }
            });
            $('.files').dblclick(function () {
                let id = $(this).children("td").children("span").html();
                var location = window.location.href;
                let strings = location.split("cloudpan");

                if (id != "") {
                    window.location.href = strings[0] + "cloudpan/downloadFile?time=" + new Date().getTime() + "&tip=" + Math.random() * 1000000 + "&fId=" + id;
                } else {
                    return;
                }
            });
            $('.folders').hover(function () {
                let id = $(this).children("td").children("span").html();
                $('#tarFolder').html(id);
                $(this).siblings().removeClass('flag');
                $(this).addClass('flag');
            }, function () {
            });
            $('.files').hover(function () {
                let id = $(this).children("td").children("span").html();
                $('#tarFile').html(id);
                $(this).siblings().removeClass('flag');
                $(this).addClass('flag');

                let name = $('.flag td a').html();
                var supImg = ["png","jpg","jpeg"];

                if (supImg.indexOf(name.substring(name.lastIndexOf(".") + 1)) > -1) {
                    //定义X初始坐标量
                    var x = 10;
                    //定义Y初始坐标量
                    var y = 20;
                    $(".files").mouseover(function (e) {
                        //封装图片TITLE
                        var showPath = $(".flag td #showPath").html();
                        //声明层对象
                        var tooltip = "<div id='thumbnail_img' style='z-index:10;position:absolute'><img src='"+showPath+"' alt='预览图' style='max-width: 400px;max-height: 300px' />"  + "</div>";
                        //将层追加到文档中
                        $("body").append(tooltip);
                        //设置层样式
                        $("#thumbnail_img").css({
                            "top": (e.pageY + y) + "px",
                            "left": (e.pageX + x) + "px"
                        });
                    }).mouseout(function () {
                        this.title = this.myTitle;
                        //移除层
                        $("#thumbnail_img").remove();
                    }).mousemove(function (e) {
                        $("#thumbnail_img").css({
                            "top": (e.pageY + y) + "px",
                            "left": (e.pageX + x) + "px"
                        });
                    });
                }
            }, function () {
            });
        });
    </script>
</th:block>

<th:block th:fragment="someFunction">
    <script>
        function closeAndPause() {
            console.log("属性修改开始");
            var video = document.getElementById('videoPlayer');
            if (video.play) { //如果已暂停则播放
                video.pause(); //播放控制
            }
            // if(video.paused){ //如果已暂停则播放
            //     video.play(); //播放控制
            // }else{ // 已播放点击则暂停
            //     video.pause(); //暂停控制
            // }
            $("#videoElasticframe").slideToggle(300);
        };

        function suoxiao() {
            var postion = $("#audioPlayerPosition").text();
            if (postion==250) {
                $("#audioPlayerTool").animate({
                    left: "5px"
                }, "slow");
                $('#audioPlayerPosition').html(5);
                $('#audioPlayerSrc').attr("src","https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/右.png");
            }else{
                $("#audioPlayerTool").animate({
                    left: "250px"
                }, "slow");
                $('#audioPlayerPosition').html(250);
                $('#audioPlayerSrc').attr("src","https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/左.png");
            }

        }

        function closeAndRefresh() {
            window.onbeforeunload = function () {
            };
            window.location.reload();
        }


    </script>
</th:block>


</body>
</html>