<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>鹏圆云盘</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.4/cloudDisk/css/planet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.4/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css"
	<style>
		body {
			/*背景图片*/
			background-image: url("https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/img/email-pattern.png");
		}
	</style>
</head>
<body>
<div class="row" style="margin-top: 10%">
    <div class="col-1 col-sm-1 col-lg-2"></div>
    <div class='description col-10 col-sm-10 col-lg-8' style="background-color: #80808070">
        <h1>鹏圆云盘</h1>
        <hr>
        <p style="height:8px">鹏圆云盘是一个在线存储平台</p>
        <p style="height:8px">支持多种格式的音频，视频在线播放</p>
        <p style="height:8px">支持多种格式的代码在线预览和java代码的在线编译</p>
        <p style="height:8px">支持markdown文件自动生成目录，自动分页</p>
        <hr>
        <p style="height:8px">
            <a href="http://wd.pyyf.site"> 友情链接：鹏圆云方论坛</a>
        </p>
        <p style="height:4px">
            <a href="http://wd.pyyf.site/blogs">友情链接： 个人博客</a>
        </p>
        <hr>
        <p class='author'>
            鹏圆云方
        </p>

        <hr>
        <a href="login"><img style="width: 80px"
                             src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/bt_white_76X24.png"
                             title="使用QQ登录" alt="使用QQ登录">
		</a>
    </div>
    <div class="col-1 col-sm-1 col-lg-2"></div>
</div>
</body>
</html>
