<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.pyyf.fileStore.mapper.IebookContentMapper">
    <sql id="selectContentFields">
        id,content_id,content,file_id
    </sql>

    <sql id="insertContentFields">
        content_id,content,file_id
    </sql>


    <insert id="insertEbookContent">
        insert into ebook_contents(<include refid="insertContentFields"></include>)
        values(#{contentId},#{content},#{fileId})
    </insert>

    <select id="selectEbookIdByContentId" resultType="java.lang.Integer">
        select
        file_id
        from ebook_contents
        where content_id like #{contentId}
    </select>


    <update id="updateContentByContentId">
        update ebook_contents
        set content = #{content}
        where content_id like #{contentId}
    </update>


    <select id="selectContentByContentId" resultType="java.lang.String">
         select content
        from ebook_contents
        where content_id like #{contentId}
    </select>


    <delete id="deleteByFileId">
        delete
        from ebook_contents
        where file_id=#{fileId}
    </delete>

    <insert id="insertAllEbookContent" parameterType="java.util.List" useGeneratedKeys="false">
        insert into ebook_contents
        (<include refid="insertContentFields"></include>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.contentId},
            #{item.content},
            #{item.fileId}
            )
        </foreach>
    </insert>

</mapper>