<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
		  name="viewport">
	<title>鹏圆网盘-我的文件</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.6/css/fileinput.css" media="all" rel="stylesheet"
		  type="text/css" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		  crossorigin="anonymous" type="text/css"/>

	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/ionicons/css/ionicons.min.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/summernote/summernote-lite.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/flag-icon-css/css/flag-icon.min.css">

	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/css/demo.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/css/style.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/css/upload-file.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/plug-ins/xcConfirm/css/xcConfirm.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/plug-ins/context-menu/css/contextMenu.css">

	<!--    视频播放器-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.1/mediaelement-master/build/mediaelementplayer.css">

	<!--    图片播放器-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.2/viewerjs-master/docs/css/viewer.css">

	<style>
		html, body {overflow-x: hidden;}
		/*缩略图*/
		.smallImg {width:32px;height:32px;}
		a {word-wrap: break-word;}
		code {font-size: 0.8em;}
		#audioPlayer-container .mejs__time-handle {
			height: 2px;
			margin-top: 9px;

			left: -5px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #ffffff;
			top: -5px;
			cursor: pointer;
			display: block;
			position: absolute;
			z-index: 2;
			border: none;
		}

		#audioPlayer-container .mejs__time-handle-content {top: 0;left: 0;width: 12px;height: 12px;}
		.files-items {margin-top: -20px;border-bottom: 1px dashed #bdc3c7;border-top: 1px dashed #bdc3c7;}
		.files-items:hover {background: #F4FBFF;}
	</style>


</head>

<body>
<div id="app">
	<div class="main-wrapper">
		<div class="navbar-bg"></div>
		<div th:replace="commons/bar::#top"></div>
		<div th:replace="commons/bar::#sidebar(currUri=${currUri},statistics = ${statistics})"></div>

		<div class="main-content">
			<section class="section">
				<h1 class="section-header" style="height:80px">
					<div style="float:left"><i class="ion ion-folder"></i> 全部文件
					</div>
					<div style="float:left;margin-left:20px;margin-top:-20px">
						<img src="https://img-blog.csdnimg.cn/20181121162612115.gif" style="width:80px">
					</div>
				</h1>
				<div class="row">
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row" style="margin-top: -10px;">
									<div class="col-12 col-sm-12 col-lg-12 table-responsive">
										<table class="table tab-bordered text-nowrap" id="files-table">
											<tr id="files-table-title" class="empty-space">
												<th></th>
												<th>名称</th>
												<th>类型</th>
												<th>扩展名</th>
												<th>大小</th>
												<th>下载次数</th>
												<th>上传时间</th>
											</tr>

											<tr th:each="f:${files}" class="files-items files">
												<td>
													<span id="fileId" style="display: none" th:text="${f.myFileId}"></span>
													<span id="imgShowPath" style="display: none" th:text="${f.getShowPath()}"></span>

													<img th:src="@{https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/{language}.png(language=${f.getMyFileName().substring(f.getMyFileName().indexOf('.') + 1)})}"
														 height="30px" alt="图标暂未录入" th:if="${f.getType()==1}">

													<!--                                                    <img th:src="|${(f.getMyFileName().substring(f.getMyFileName().indexOf('.') + 1).equals('cpp')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/cpp.png':-->
													<!--                        										(f.getMyFileName().substring(f.getMyFileName().indexOf('.') + 1).equals('java')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/java.png':-->
													<!--                        										(f.getMyFileName().substring(f.getMyFileName().indexOf('.') + 1).equals('html')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/html.png':-->
													<!--                        										(f.getMyFileName().substring(f.getMyFileName().indexOf('.') + 1).equals('md')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/markdown.png':-->
													<!--                        										(f.getMyFileName().substring(f.getMyFileName().indexOf('.') + 1).equals('py')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/python.png':-->
													<!--                        										'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/file.png')))))}|"-->
													<!--                                                         height="30px" alt="Cinque Terre" th:if="${f.getType()==1}">-->


													<span class="thumbnail_img" title="我的图片1" th:if="${f.getType()==2}">
                                                        <img th:src="@{${f.getShowPath()}}" alt="我的图片1" class="smallImg">
                                                    </span>

													<img src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/video.png"
														 height="30px" alt="图标暂未录入" th:if="${f.getType()==3}">

													<img src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/music.png"
														 height="30px" alt="图标暂未录入" th:if="${f.getType()==4}">

													<img src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/file.png"
														 height="30px" alt="图标暂未录入" th:if="${f.getType()==5}">

													<!--												-->
													<!--												<i style="font-size: 24px;color: #3498db" th:if="${f.type == 1}" class="icon ion-document-text"></i>-->
													<!--												<i style="font-size: 24px;color: #28a745" th:if="${f.getMyFileName().substring(f.getMyFileName().lastIndexOf('.')+1).equals("")}" class="icon ion-image"></i>-->
													<!--												<i style="font-size: 24px;color: #FFC107" th:if="${f.type == 3}" class="icon ion-ios-videocam"></i>-->
													<!--												<i style="font-size: 24px;color: #dc3545" th:if="${f.type == 4}" class="icon ion-ios-musical-notes"></i>-->
													<!--												<i style="font-size: 24px;color: #343A40" th:if="${f.type == 5}" class="icon ion-document"></i>-->
												</td>
												<td>
													<a href="#" style="font-weight: 700;color: black"
													   th:text="${f.myFileName}"></a>
												</td>
												<td style="font-weight: 300" th:if="${f.type == 1}">代码</td>
												<td style="font-weight: 300" th:if="${f.type == 2}">图像</td>
												<td style="font-weight: 300" th:if="${f.type == 3}">视频</td>
												<td style="font-weight: 300" th:if="${f.type == 4}">音乐</td>
												<td style="font-weight: 300" th:if="${f.type == 5}">其他</td>
												<td style="font-weight: 300" th:text="${f.postfix}"></td>
												<td style="font-weight: 300" th:if="${f.size > 1024}" id="size1"
													th:text="${f.size/1024 +'MB'}"></td>
												<td style="font-weight: 300" th:if="${f.size < 1024}" id="size2"
													th:text="${f.size +'KB'}"></td>
												<td style="font-weight: 300" th:text="${f.downloadTime} + ' 次'"></td>
												<td style="font-weight: 300"
													th:text="${#dates.format(f.uploadTime,'yyyy-MM-dd HH:mm')}">
													2020-02-02 15:08
												</td>
											</tr>
										</table>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<span id="tarFolder" style="display: none"></span>
				<span id="tarFile" style="display: none"></span>

				<div class="row" th:if="${files.size() == 0}">
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="alert alert-primary alert-has-icon alert-dismissible show fade">
							<div class="alert-icon"><i class="ion ion-ios-lightbulb-outline"></i></div>
							<div class="alert-body">
								<button class="close" data-dismiss="alert">
									<span>×</span>
								</button>
								<div class="alert-title">这里空空的，什么都没有..</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="commons/bar::#footer"></div>
	</div>


	<div id="videoElasticframe" style="display:none;background-color:white;border:#7577845e solid 0.5px;">

		<div style="float: right;">
			<button style="background:white;border:white;width: 40px" onclick="closeAndPause()"><img
					src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/close2.png" alt="关闭"></button>
		</div>
		<div class="players" id="videoPlayer-container">
			<div class="media-wrapper">
				<video id="videoPlayer" width="640" height="360" style="max-width:100%;"
					   poster="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/cloud.png" preload="none" controls
					   playsinline webkit-playsinline>
					<source id="video" src="" type="video/mp4">
				</video>
			</div>
		</div>
	</div>


</div>
<!--音乐播放器-->
<!--如果是这个层次的话sun是跟随father走的啊，因为是嵌套关系啊，就好比杯子里面有水，总不能杯子走了，水还在原地不动吧，道理是一样的。sun一般情况下总是相对于father来动，father在左侧sun也会到左侧，因为sun在father内部，这个我就不多解释了。特殊的情况是sun绝对定位了，例如sun的样式是width:10px;height:10px;position:absolute;top:0px;left:0px;这样就是相对于页面左上角定位了，如果给父亲添加一个position:relative;那么sun不在页面左上角了，而是在father的左上角了。也就是说sun往上层找有没有relative定位的元素，如果没有就直接相对于window窗口定位。因此，absolute一般是和父层的relative来一起使用的。-->
<!--position:fixed;定位的时候 只要不写top、left、top、right值，他就会默认居于父级进行定位，又不会失去fixed的不动特性，只是位置只能在左上角，要定位在其他地方就在加上margin值处理即可：-->
<div id="audioPlayerTool" style="width: 275px; height: 40px; background-color: rgb(35, 35, 35); position: fixed; inset: 100px 0px 100px 5px; float: right; z-index: 10;">

	<div class="players" id="audioPlayer-container" style="float:right;position:fixed;height:40px;">
		<div class="media-wrapper">
			<audio id="audioPlayer" preload="none" controls="" style="width:250px;">
				<source src="" type="audio/mp3">
			</audio>
		</div>
		<br>
	</div>
	<div style="position:fixed; margin-left:240px;height:40px;width:30px">
		<button type="button" onclick="suoxiao()" style="background-color: transparent;outline: none;border: 0;  padding-left:0px;width:30px;height:40px;">
			<img id="audioPlayerSrc" src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/右.png" alt="缩小">
		</button>

	</div>
</div>
<span id="audioPlayerPosition"></span>

<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<th:block th:replace="commons/fragments::hoverAndDblick">

</th:block>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/plug-ins/context-menu/js/jquery.contextMenu.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/plug-ins/xcConfirm/js/xcConfirm.js"></script>

<!--音乐播放器缩小-->
<th:block th:replace="commons/fragments::someFunction"></th:block>
<!--    播放器-->
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.1/mediaelement-master/build/mediaelement-and-player.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.1/mediaelement-master/build/renderers/dailymotion.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.1/mediaelement-master/build/renderers/soundcloud.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.1/mediaelement-master/build/renderers/vimeo.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.1/mediaelement-master/demo/demo.js"></script>
<th:block th:replace="commons/fragments::contextMenu"></th:block>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/js/easyUploader.jq.js"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" crossorigin="anonymous" type="text/javascript"></script>-->
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/jquery.min.js"></script>

<!--图片播放器-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/testCdn@v0.0.2/viewerjs-master/docs/js/viewer.js"></script>

<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" crossorigin="anonymous"
		type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/tooltip.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/js/sa-functions.js"></script>

<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/summernote/summernote-lite.js"></script>

<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/js/demo.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/chart.min.js"></script>



<!--不加就凉凉-->
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.13/cloudpan/u-admin/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>


<th:block th:replace="commons/fragments::share"></th:block>

</body>
</html>
