<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客发布</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.5/lib/editormd-1.5.0/css/editormd.min.css"
          type="text/css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.5/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css"
</head>


<body>
<div class="nk-container">


    <!--中间内容-->
    <div class="m-container m-padded-tb-big big-height">
        <div class="ui container">
            <form name="search" th:action="@{/ebook/update}" method="post">
                <input type="hidden" name="contentId" th:value="${contentId}">
                <div class="required field">
                    <!--这里插入富文本编辑，直接使用即可，这里全屏后markdown会被semantic UI的组件遮挡，所以将markdown的
                        叠加层次z-index置为1即放到最上层-->
                    <div id="md-content" style="z-index: 6 !important;">
                        <textarea placeholder="博客内容" name="content" style="display: none;height: 400px;"
                                  th:text="${content}"></textarea>
                    </div>
                </div>
                <div style="float:right">
                    <button type="button" class="btn btn-success" onclick="window.history.go(-1)">
                        <i class="fa fa-caret-left fa-fw"></i>&nbsp; 返回
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save fa-fw"></i>&nbsp; 保存
                    </button>
                </div>

            </form>
        </div>
    </div>

    <br>
    <br>

</div>


<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.5/lib/jquery.min.js-3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.5/lib/Semantic-UI-2.2.4/dist/semantic.min.js" crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.5/lib/editormd-1.5.0/editormd.min.js" crossorigin="anonymous" type="text/javascript"></script>

<script>

    //初始化Markdown编辑器，将textarea的父构件md-content进行初始化即可
    var contentEditor;
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
//        path    : "../static/lib/editormd/lib/"
            path: "https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.5/lib/editormd-1.5.0/lib/"
        });
    });

</script>
</body>
</html>