<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
	<title>鹏圆云盘-使用情况</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css"
		  crossorigin="anonymous" type="text/css"/>
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/css/ionicons.min.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/summernote-0.8.9/summernote-lite.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/css/style.css">
	<style type="text/css">/*文档内嵌样式表*/
	body {
		background-image: url("https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/email-pattern.png");
	}
	.card{
		background-color: #ffffff9c
	}
	</style>
</head>

<body>
<div id="app">
	<div class="main-wrapper">
		<div class="navbar-bg" style="background-color:#bdbdbd;"></div>

		<div th:replace="commons/bar::#top"></div>
		<div th:replace="commons/bar::#sidebar(currUri='index',statistics = ${statistics})"></div>
		<div class="main-content">
			<section class="section">
				<h1 class="section-header" style="height:80px;background-color: #fbfbfb">
					<div style="float:left"><i class="ion ion-folder"></i> 使用情况
					</div>
					<div style="float:left;margin-left:20px;margin-top:-20px">
						<img src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/3.gif" style="width:80px">
					</div>
				</h1>
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-8">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="card card-sm-4">
									<div class="card-icon bg-secondary">
										<i class="fa fa-folder-o"></i>
									</div>
									<div class="card-wrap">
										<div class="card-header">
											<h4>文件夹</h4>
										</div>
										<div class="card-body" th:text="${statistics.folderCount}"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="card card-sm-4">
									<div class="card-icon bg-secondary">
										<i class="fa fa-file-text-o"></i>
									</div>
									<div class="card-wrap">
										<div class="card-header">
											<h4>文件</h4>
										</div>
										<div class="card-body" th:text="${statistics.fileCount}"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="card">
									<div class="card-header">
										<h4>文件明细情况</h4>
									</div>
									<div class="card-body">
										<canvas id="myChart"></canvas>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="card">
									<div class="card-header">
										<h4>已使用/剩余容量（单位：MB）</h4>
									</div>
									<div class="card-body">
										<canvas id="myChart1"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4">
						<div class="card" id="mycard-dimiss">
							<div class="card-header">
								<div class="float-right">
									<a data-dismiss="#mycard-dimiss" class="btn btn-icon"><i class="ion ion-close"></i></a>
								</div>
								<h4>来自系统通知</h4>
							</div>
							<div class="card-body">
								<p>鹏圆云盘是一个在线存储平台</p>
								<p>支持多种格式的音频，视频在线播放</p>
								<p>支持多种格式的代码在线预览和java代码的在线编译</p>
								<p>支持markdown文件自动生成目录，自动分页</p>
								<hr>
								<p>
									<a href="http://wd.pyyf.site"> 友情链接：鹏圆云方论坛</a>
								</p>
								<p>
									<a href="http://wd.pyyf.site/blogs">友情链接： 个人博客</a>
								</p>
								<hr>
								<p class='author'>
									作者：鹏圆云方
								</p>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="commons/bar::#footer"></div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/jquery.min.js-3.2.1/jquery.min.js"></script>
<script>
	$(function () {
		var cur = [[${statistics.user.currentSize}]];
		var max = [[${statistics.user.maxSize}]];
		var w = cur/max*100;
		$('#progress').css('width',w+'%');
	})
</script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/popper.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/tooltip.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js" crossorigin="anonymous"
		type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/nicescroll-3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/scroll-up-bar-v0.3.0/dist/scroll-up-bar.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/js/sa-functions.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/chart.min.js-2.7.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/summernote-0.8.9/summernote-lite.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/chart.min.js-2.7.1/chart.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/font-awesome-4.7.0/css/font-awesome.min.css"
	  rel="stylesheet">
<script>
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			datasets: [{
				data: [
					[[${statistics.doc}]],
					[[${statistics.image}]],
					[[${statistics.video}]],
					[[${statistics.music}]],
					[[${statistics.other}]],
				],
				backgroundColor: [
					'#3498db',
					'#28a745',
					'#ffc107',
					'#dc3545',
					'#343a40',
				],
				label: 'Dataset 1'
			}],
			labels: [
				'文档',
				'图像',
				'视频',
				'音乐',
				'其他'
			],
		},
		options: {
			responsive: true,
			legend: {
				position: 'bottom',
			},
		}
	});

</script>
<script>
	var ctx = document.getElementById("myChart1").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			datasets: [{
				data: [
					[[${statistics.user.currentSize/1024}]],
					[[${(statistics.user.maxSize-statistics.user.currentSize)/1024}]],
				],
				backgroundColor: [
					'#223e36',
					'#c6e6e8'
				],
				label: 'Dataset 1'
			}],
			labels: [
				'已使用',
				'剩余容量',
			],
		},
		options: {
			responsive: true,
			legend: {
				position: 'bottom',
			},
		}
	});

</script>
</body>
</html>
