<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="setting">
    <span id="maxShowSize">40</span>
    <span id="showType">OSS</span>
    <span id="domain"></span>
</th:block>


<th:block th:fragment="fileSystemCss">
    <link href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/bootstrap-fileinput-5.0.8/css/fileinput.css" media="all" rel="stylesheet"
          type="text/css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/css/ionicons.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/summernote-0.8.9/summernote-lite.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/css/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/cloudDisk/css/upload-file.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/xcConfirm/css/xcConfirm.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/context-menu/css/contextMenu.css">

    <!--    视频播放器-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/normalize.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/mediaelement-4.2.x/build/mediaelementplayer.css">

    <!--    图片播放器-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/viewerjs-1.5.0/docs/css/viewer.css">
</th:block>

<th:block th:fragment="fileSystemJs">
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/jquery.min.js-3.2.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/context-menu/js/jquery.contextMenu.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/xcConfirm/js/xcConfirm.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/cloudDisk/js/contextMenu.js"></script>

    <!--    播放器-->
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/mediaelement-4.2.x/build/mediaelement-and-player.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/mediaelement-4.2.x/build/renderers/dailymotion.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/mediaelement-4.2.x/build/renderers/soundcloud.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/mediaelement-4.2.x/build/renderers/vimeo.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/mediaelement-4.2.x/demo/demo.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/cloudDisk/js/easyUploader.jq.js"></script>

    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" crossorigin="anonymous" type="text/javascript"></script>-->
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/jquery.min.js-3.2.1/jquery.min.js"></script>

    <!--图片播放器-->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/viewerjs-1.5.0/docs/js/viewer.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js" crossorigin="anonymous"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/tooltip.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/nicescroll-3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/scroll-up-bar-v0.3.0/dist/scroll-up-bar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/js/sa-functions.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/chart.min.js-2.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/summernote-0.8.9/summernote-lite.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/ionicons-2.0.0/plugin/dist/js/custom.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/font-awesome-4.7.0/css/font-awesome.min.css"
          rel="stylesheet">


    <!--不加就凉凉-->
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/jquery.min.js-3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/lib/nicescroll-3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.0.25/cloudDisk/js/someFunction.js"></script>
</th:block>


</body>
</html>